body {
    color: #0e0e0e;
    background-image: linear-gradient(to bottom right, #efefef, #ffffff);;
    font-size: 1.5em;
    line-height: 1.2;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

a {
    color: #6e6aee;
}

p code {
    font-weight: bolder;
    color: #049204;
    padding-left:5px;
    padding-right:5px;
    white-space: nowrap;  
    background-color: #dddddd;
}

td code {
    font-weight: bolder;
    color: #049204;
    background-color: #dddddd;
}

table {
    width: 90%;
    font-size: inherit;
    border-collapse: collapse;
    padding: 1px;
    margin-left: 5%;
    margin-right: 5%;
}

th, td {
    padding: 5px;
}

th,td {
    border: 1px solid;
  }

pre {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
  background-color: #dddddd;
  overflow-x:scroll;
}
